body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}

div.content {
  overflow: hidden;
  background-color: #272822;
  max-width: 900px;
  margin: 1em auto 0 auto;
  border: 10px solid black;
  border-radius: 15px;
  color: #f8f8f2;
}

a {
	color: #66D9EF;
}

div.content h1 {
  font-family: "hemondalisaregular", Arial, sans-serif;
  color: #f8f8f2;
}

div.info {
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.header {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:
	  "name name"
	  "face personal-information"
}

#header-text {
	grid-area: name;
}

#header-text h1 {
	margin: 0.5em auto 0 auto;
	font-size: 72px;
	text-align: center;
}

#header-text h2 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 36px;
}

#header-text p {
	margin-top: 0;
}
#face {
  grid-area: face;
}

#face img {
	/* Green  #A6E22E
	   Red    #F92672
	   Purple #AE81FF
	   Orange #FD971F
	*/
	border: solid #FD971F 5px;
	border-radius: 15px;
  width: 95%;
}

#personal-information {
	grid-area: personal-information;
	/* display: flex;
	justify-content: right;
	align-items: center; */
}

#personal-information h1 {
	margin-top: 0;
}

.certs img {
  height: 75px;
}

.boxes ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

.boxes li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px;
  min-width: 150px;
  padding: 0.75em 0.5em 0.75em 0.5em;
  border: 2px solid black;
  box-shadow: 7px 7px black;
}

.resume h1 {
  font-size: 2.5em;
  border-bottom: 5px solid;
}

.experience {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 7px 7px black;
}

.experience h2 {
  margin-bottom: 0.1em;
}

.experience h3 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

.box_yellow {
  background-color: #fff35f;
}

.box_pink {
  background-color: #f27796;
}

.box_green {
  background-color: #07bba0;
}

.print_only {
  display: none;
}

/*********************************************/
div.sky_chart {
  background-color: black;
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  border-top: 10px solid black;
  text-align: center;
  overflow-x: scroll;
}

.sky_chart ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.sky_chart ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
